* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

@media print {
  body * {
    visibility: hidden;
  }
  .print-label,
  .print-label * {
    visibility: visible;
  }
  .print-label {
    position: absolute;
    left: 0;
    top: 0;
  }
  .no-print {
    display: none !important;
  }
}
